# Visual Studio
/.vscode/
/.vs
**.slnx
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Premake
premake5.exe

# Conan
/dependencies

# Build output
/build
/project
Makefile

# Python
/__pycache__/
SADenv/__pycache__/

# Progam files
/saveStates

# Notes
notes.txt